<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task_Crud</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <div class="container_father">
        <div class="container_child">
            <img src="/relax.svg" alt="SVG de personas relajadas">
            <div>
                <h1>¡Server Running!</h1>
                <div class="loader"></div>
            </div>
        </div>
    </div>
</body>
</html>